header {
    background-color: #333;
    color: white;
    padding: 10px 15%;
}

.header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.site-name {
    font-size: 1.5em;
    font-weight: bold;
}

.search-bar {
    flex-grow: 1;
    text-align: center;
}

.search-bar input {
    padding: 5px;
    width: 40%;
    border-radius: 5px;
}

.search-bar button {
    padding: 5px 10px;
}

.site-name-link {
    text-decoration: none;
    color: white;   
}
.site-name-link:hover {
    text-decoration: none;
    color: white;
}

.account-options {
    display: flex;
    align-items: center;
    gap: 10px;
}

.categories {
    text-align: center;
    margin-top: 10px;
}

.categories a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
    font-size: 1.2em;
}

.categories a:hover {
    text-decoration: underline;
}